* {
  margin: 0;
  padding: 0;
}
.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  padding: 20px;
  padding-top: 0px;
}

.mainCardContent {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding: 0 10px;
  padding-top: 18px;
  align-items: center;
}
.card1 h6 {
  color: #4e73df;
}
.card2 h6 {
  color: #1cc88a;
}
.card3 h6 {
  color: #36b9cc;
}
.card4 h6 {
  color: #f6c23e;
}
.card1 {
  border-radius: 7px;
  border-left: #4e73df 7px solid;
  border-right: #4e73df 7px solid;
  width: auto;
  height: 90px;
  background-color: white;
}
.card2 {
  border-radius: 7px;
  border-left: #1cc88a 7px solid;
  border-right: #1cc88a 7px solid;
  width: auto;
  height: 90px;
  background-color: white;
}
.card3 {
  border-radius: 7px;
  border-left: #36b9cc 7px solid;
  border-right: #36b9cc 7px solid;
  width: auto;
  height: 90px;
  background-color: white;
}
.card4 {
  border-radius: 7px;
  border-left: #f6c23e 7px solid;
  border-right: #f6c23e 7px solid;
  width: auto;
  height: 90px;
  background-color: white;
}
.content > h6 {
  padding: 0;
  margin: 0;
  margin-top: -5px;
  font-size: 20px;
}

.content h3 {
  padding: 0;
  padding-bottom: 20px;
  margin: 10px;
  font-size: 24px;
}

@media (max-width: 1150px) {
  .content {
    grid-template-columns: 1fr;
  }
  .cardContainer {
    grid-template-columns: 1fr;
  }
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}
.profileBG {
  width: 100%;
  min-height: calc(100vh - 64px);
  background-color: #9a3bc7;
  background-image: radial-gradient(
      at 47% 33%,
      hsl(141, 54%, 50%) 0,
      transparent 59%
    ),
    radial-gradient(at 82% 65%, hsl(196.8, 100%, 51%) 0, transparent 55%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.Chart {
  display: flex;
  justify-content: center;
}
.chartContainer {
  max-width: 800px;
  width: 100%;
}

@media (max-width: 800px) {
  .chartContainer {
    padding: 5px;
  }
}
